.App {
  text-align: center;
}

.canvas-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.canvas {
  border: 3px solid #543a3a;
  align-items: center;
}

.toolbar {
  margin-top: 5px;
}

.toolbar button {
  margin: 5px;
  padding: 10px;
  background: #eee;
  border: none;
  cursor: pointer;
}

.toolbar button:hover {
  background: #ddd;
  /* cursor: pointer; */
}
